.top-banner {
    background-color: blue;
    display: flex;
    justify-content: end;
    padding: 0 2rem;
    gap: 3rem;
    height: 3rem;
}
.contact {
    display: flex;
    gap: 1.5rem;
}
.contact span {
    color: white;
    display: flex;
    align-items: center;
}
.icons {
    display: flex;
    gap: 1.5rem;
    color: white;
    align-items: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 4rem;
    padding: 0 2rem;
}
.logo {
    color: red;
}
ul {
    list-style-type : none;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
    color: rgb(249, 89, 9);
    text-decoration: none;
    font-weight:bold;
    margin: 1rem ;
}
 
.dropdown li a {
    color: white;
  }
  .dropdown {
    display: block;
    width: 180%;
    background: rgb(77, 243, 102);
    position: absolute;
    display: none;
  }
  .dropdown li {
    display: block;
  }
  .dropdown li a:hover {
    color: rgb(106, 26, 234);
  }
  ul li a:hover {
    color: blue;
  }
  ul li:hover ul.dropdown {
    display: block;
  }
/* banner */
  .banner-container img { 
    height:100px;
    width: 300px;
  }
  /* Services */
.services-container {
    background-color: rgb(27, 237, 104);
    display: grid;
    place-items: center;
}
.services {
    padding-top: 1rem;
    display: grid;
    place-items: center;
}
.services h1,
p {
  text-align: center;
  padding: 1rem;
  display: inline;
}
.images {
  margin: 1rem;
  width: 72vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
}
.images a {
  text-decoration: none;
}
.images a img {
  width: 100%;
  border-radius: 15px;
}
.images a p {
  /* position: absolute; */
  color: rgb(241, 14, 14);
}
.footer-container {
    background-color: blue;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    height: 4rem;
}
.footer-services {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 3rem;
}
.footer-services p {
    border: 1px solid white;
    background-color: white;
    border-radius: 30px;
}
.title {
    color: white;
}
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 4rem;
}
.privacy {
    display: flex;
}
